<!DOCTYPE html>

<title>Capteurp index</title>

{% block body %}
    <h1>Capteurp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Date_m</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capteurp in capteurps %}
            <tr>
                <td>{{ capteurp.id }}</td>
                <td>{{ capteurp.quantite }}</td>
                <td>{{ capteurp.dateM ? capteurp.dateM|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_capteurp_show', {'id': capteurp.id}) }}">show</a>
                    <a href="{{ path('app_capteurp_edit', {'id': capteurp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_capteurp_new') }}">Create new</a>
{% endblock %}
