{% extends 'front/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- Hero Section -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Better Solutions For The Waste Around You!</h1>
                    <h2>Keep our Environment Healthy</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-swiper-autoplay="2000">
                                <img src="{{ asset('assets/front/assets/img/recycling1.jpg') }}" class="img-fluid animated fixed_size_img" alt="">
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="2000">
                                <img src="{{ asset('assets/front/assets/img/recycling2.jpg') }}" class="img-fluid animated fixed_size_img" alt="">
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="2000">
                                <img src="{{ asset('assets/front/assets/img/recycling.jpeg') }}" class="img-fluid animated fixed_size_img" alt="">
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="2000">
                                <img src="{{ asset('assets/front/assets/img/recycling3.jpg') }}" class="img-fluid animated fixed_size_img" alt="">
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="2000">
                                <img src="{{ asset('assets/front/assets/img/recycling4.jpg') }}" class="img-fluid animated fixed_size_img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <!-- Cliens Section -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset('assets/front/assets/img/clients/images.png') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset('assets/front/assets/img/clients/images (1).png') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset('assets/front/assets/img/clients/Capture.PNG') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset('assets/front/assets/img/clients/download (2).jfif') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset('assets/front/assets/img/clients/download (1).jfif') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="{{ asset('assets/front/assets/img/clients/download (3).jfif') }}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- About Us Section -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            The ‘WASTE MANAGEMENT SYSTEM’ is a web application aimed to provide a digital way 
                            of complaining the concerns of general citizens to their relative municipalities.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Complaining about waste or garbage problems near their locality.</li>
                            <li><i class="ri-check-double-line"></i> See their complain Report and check if the work is done! or not.</li>
                            <li><i class="ri-check-double-line"></i> People can take different ideas regarding recycling of waste through this website.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Complaining about the waste problem encountered everyday to municipality is hefty process and waste management
                            aims to make this process easier. With a simple handheld device with access to internet, 
                            user can use this platform complain their concerns to municipality.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                        <a href="{{ path('app_poubelle_front') }}" class="btn-learn-more">Poubelle</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1" style="width:100%;">

            <div class="content">
              <h3>Guidelines implementation  <strong>must for proper management of waste</strong></h3>
              <p>
                A Lot of waste is generated every day and most of it is not effectively managed, 
                this has a massive impact on the environment and human health. 
                India produces 62 million tonnes of waste annually, with 70% collected, and only 12 million tonnes treated,
                while 31 million tonnes end up in landfills.
                The generation of municipal solid waste is expected to rise to 165 million tonnes by 2030 due to changing consumption 
                patterns and rapid economic growth.
                For sustainability and environmental consciousness, 
                our company stands as a beacon of innovation and responsibility in waste management.
                Our mission is simple yet profound: to connect local communities with companies eager to recycle and repurpose 
                waste materials following the 
                "GUIDELINES FOR MUNICIPAL SOLID WASTE MANAGEMENT."
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> 
                    Disposal vs. Management <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Disposing solid waste out of sight does not solve the problem.
                      The consequences of this practice are health hazards, pollution of soil, water,
                      air & food,unpleasant surroundings,
                      loss of precious resources that could be obtained from the solid wastes.
                      That’s why it is essential to focus on proper management of waste all over the world . 
                      Solid waste management (SWM) is the application of techniques for orderly execution of collection, 
                      transport,processing, treatment and disposal of solid waste.SWM is not mere dumping rather a range of
                      options including re-use, 
                      recycling, incineration with energy recovery, advanced landfill design and engineering and a range of alternative 
                      technologies. 
                      It aims at an overall waste management system which is the best environmentally, 
                      economically sustainable for a particular region 
                  </p>

                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#accordion-list-2"><span>02</span> 
                    Implementation problem <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      One of the major waste management problem is the lack of adequate collection and disposal infrastructure as well
                      as lack of proper collection, 
                      transportation, and disposal of waste which increases the risk of disease outbreaks and 
                      can cause social problems, 
                      public health threats, and environmental deterioration.
                      The another problem is the resistance to adopting waste management procedures 
                      that can originate from various sources,
                      including people, companies, and governments.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> 
                    Strengthening Waste Management Policies <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Implementing Advanced waste collection systems can greatly enhance waste management efficiency.
                      Utilizing technology,
                      such as asset tracking, optimizes waste collection routes and ensures timely pick-ups.
                      Waste management companies should invest in waste management software to improve collection processes
                      and reduce waste accumulation.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <!-- <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/Medical-Waste.jpg");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div> -->
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/front/assets/img/recycling2.avif" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Composition and Percentage of Waste Generation</h3>
            <p class="fst-italic">
              Management of Municipal Solid Wastes: A Case Study in Limpopo Province, India
              
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">Plastics <i class="val">35%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Paper and Glass <i class="val">25%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Food Waste  <i class="val">25%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Garden Waste<i class="val">15%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p> Here is the phone number of municipality.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="mob:9476176172">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Waste management regulations and disposal methods.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                What types of waste materials does your service collect from households? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Our service collects various types of waste materials,
                  including general household waste, recyclables, organic waste, and in some cases, hazardous waste (with certain restrictions).
                
                
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-2" >  
                Can customers schedule pickups or is there a set schedule for waste collection?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Customers can schedule pickups for large items or special waste materials, 
                    but regular waste collection follows a set schedule based on the location.                
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
                Can customers track the status of their waste collection requests or pickups?
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, customers can track the status of their waste collection requests or pickups through our online portal or mobile app.
                  </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                Are there any specific guidelines or regulations customers need to follow when preparing waste for collection?
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Customers are provided with guidelines on how to properly prepare
                  waste for collection, including bagging trash, separating recyclables, and securing bulky items for pickup.
              </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
                How do you work with waste disposal companies to ensure the proper treatment and disposal of collected waste materials?
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  We work closely with waste disposal companies to ensure that collected waste materials are
                  treated and disposed of in compliance with regulations and environmental standards, following established protocols for disposal and recycling.
                </p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="600">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">
                Do you offer any specialized services for hazardous waste disposal?
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, we offer specialized services for hazardous waste disposal, which require separate handling and transportation to designated facilities for safe disposal.
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    </main>
{% endblock %}