
<div class="container px-3">
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
    <div class="row g-3">
        {% for field in form %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(field, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                    {{ form_widget(field, {'attr': {'class': 'form-control' ~ (form_errors(field) ? ' is-invalid' : ''), 'required': 'required'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(field) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-4 text-center">
        <button class="btn btn-primary" type="submit" id="submitBtn">
            {{ button_label|default('Save') }}
        </button>
    </div>
    {{ form_end(form) }}
</div>