<!DOCTYPE html>

<title>Poubelle</title>

{% block body %}
    <h1>Poubelle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ poubelle.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ poubelle.adresse }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ poubelle.niveau }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ poubelle.etat }}</td>
            </tr>
            <tr>
                <th>Date_installation</th>
                <td>{{ poubelle.dateInstallation ? poubelle.dateInstallation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hauteur_totale</th>
                <td>{{ poubelle.hauteurTotale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_poubelle_index') }}">back to list</a>

    <a href="{{ path('app_poubelle_edit', {'id': poubelle.id}) }}">edit</a>

    {{ include('poubelle/_delete_form.html.twig') }}
{% endblock %}
