{% extends 'back/base.html.twig' %}

{% block title %}Ajouter un Contrat{% endblock %}

{% block content %}
    

    <div class="card p-4 shadow-sm">
        {{ form_start(form) }}
            {% for field in form %}
                <div class="mb-3">
                    {{ form_row(field, {'attr': {'class': 'form-control'}}) }}
                </div>
            {% endfor %}
            <button class="btn btn-success w-100">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_contrat_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
